<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user_followings_path(user) do %>
        <%= user.followings.count %>
        <% end %>
    </th>
  </tr>
  <tr>
    <th>follewers</th>
    <th><%= link_to user_followers_path(user) do %>
        <%= user.followers.count %>
        <% end %>
    </th>
  </tr>
</table>

<% unless user == current_user %>
  <%= render 'users/followbtn', user: @user %>
<% else %>
  <%= render 'users/editbtn', user: @user %>
<% end %>